<div id="aboutDiv" ng-init="myFamily = 'assets/images/aboutFamily.png'">
    <img ng-src="{{myFamily}}" alt="Family" />
    <h1>Blood is thicker than water</h1>
    <p>Family trees give an excellent visual of one's family and can be used in many ways. The act of creating a family tree
        alone gives an individual a sense of history and belonging. Sharing a family tree with generations helps keep the
        history of the family alive and is perfect when new members join the family, for example through marriage or adoption.
    </p>
    <p>Our free, feature-filled family tree builder gives you everything you need to create an amazing family tree and store
        all of your discoveries safely online. Attach some notes and images, preserving your research for future generations.
    </p>
</div>