<div ng-controller="ContactControler">
    <section id="contactUs">
        <form action="">
            <h1>{{mailUs}}</h1>
            <div id='formFields'>
                <input id='nameField' type="text" name='name' placeholder="  name...">
                <input id='emailField' type="text" name='email' placeholder="  email...">
                <br><br><br><br><br><br>
                <textarea id='message' name="notes" cols="44" rows="1" placeholder=" message..."></textarea>
            </div>
            <input id='send' type="submit" name='submit' value='Send'>
        </form>
    </section>
</div>