<div id="howToWorkDiv">
    <div id="howToWorkDiv2">
        <h1>Get started with your own Family tree</h1>

        <div id="step1">
            <h3>Step 1:</h3>
            <p>You have to login/register if you want to create your own Family tree. It is for free, so do not hesitate to
                create your account.</p>
            <img id="img1" ng-src="assets/images/login.png" />
        </div>

        <div id="step2">
            <h3>Step 2:</h3>
            <img ng-src="assets/images/dashboard1.png" />
            <p>And now, after authentication you can create the first member in your Family tree. Remember that the first one
                have to be the oldest in your Family tree.<img id="img2" ng-src="assets/images/firstMember.png" />
            </p>
            <p>You have an option to look at other Family trees in case you are looking for someone.</p>
            <img id="createMember" ng-src="assets/images/search2.png" />
        </div>

        <div id="step3">
            <h3>Step 3:</h3>
            <img id="createMember" ng-src="assets/images/create.png" />
            <p>Let's get started and fill out the first form. You can choose name, gender, relations and to provide personal
                facebook link. Of course you can save and your favourite pics.</p>
        </div>

        <div id="step4">
            <h3>Step 4:</h3>
            <p>And just in a second you can see your Family tree to become bigger and bigger.</p>
            <img ng-src="assets/images/tree.png" />
        </div>

        <div id="step5">
            <h3>Step 5:</h3>
            <p>After you have created members, with left mouse click you can add new member,</p>
            <img id="img5" ng-src="assets/images/addMember.png" />
            <p>clear a member <img ng-src="assets/images/clearMember.png" /> or to view/correct member details.</p>
        </div>

        <div id="step6">
            <h3>Step 6:</h3>
            <p>And after you are ready with collecting memories, just with one click you can print your Family tree and save
                it forever. It could be a great picture on your wall or the perfect gift.<br> Take your time, create your
                Family Tree and discover your roots.</p>
            <img ng-src="assets/images/printTree.png" />
        </div>
    </div>
</div>